---
import Item from '~/components/blog/GridItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<div class="grid gap-6 row-gap-5 sm:grid-cols-2 lg:grid-cols-3">
  {posts.map((post, index) => (
    <div class:list={['animate-fade-in-up', `delay-${Math.min((index + 1) * 100, 500)}`]}>
      <Item post={post} />
    </div>
  ))}
</div>
