---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post, index) => (
      <li class="mb-12 md:mb-20">
        <div class:list={['animate-fade-in-up', `delay-${Math.min((index + 1) * 100, 500)}`]}>
          <Item post={post} />
        </div>
      </li>
    ))
  }
</ul>
